body{
  background-color: #121212;
}
h2 {
  text-align: center;
  color: gold;
  text-transform: uppercase;
}
h1{
  color: white;
  text-align: center;
}
h3{
  color: antiquewhite;
  text-align: center;
  text-transform: uppercase;
  text-decoration: overline underline;
}
h3:hover{
  color: gold;
}
p{
  color: white;
  text-align: center;
}

#movie-list{
  display: block;
  justify-content: space-between;
  flex-wrap: wrap;
  border: white solid ;
  width: 450px;
  margin-top: 20px;
}
.film{
  margin-top: 10px;
  margin-left: 20px;
  width: 400px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2px;
  border: whitesmoke solid;
}
#movie-list img{
  width: 250px;
  height: 250px;
}
form{
  display: flex;
  justify-content: center;
}
