body{
  background-color: #121212;
}
h2 {
  text-align: center;
  color: gold;
  text-transform: uppercase;
}
h1{
  color: white;
  text-align: center;
}
p{
  color: white;
  text-align: center;
}

#movie-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
 
}
.film{
  margin-left: 20px;
  width: 400px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border: whitesmoke solid;
}
#movie-list img{
  width: 200px;
}
form{
  display: flex;
  justify-content: center;
}
